<footer class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <p>2025 My Blog. All Right Reserved</p>
        </div>
        <div class="col">
            <nav>
                <ul class="list-inline">
                    <li class="list-inline-item px-1"><a class="text-white text-decoration-none">Terms Of Service</a></li>
                    <li class="list-inline-item px-1"><a class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li class="list-inline-item px-1"><a class="text-white text-decoration-none">SiteMap</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>