<header class = "p-3 bg-dark text-white sticky-top">
    <div class="row">
        <div class="col-12 col-md-6">
           <h1>My Blog</h1> 
        </div>
    <div class=" col-12 col-md-6 mt-2 d-flex justify-content-start justify-content-md-end">
        <nav>
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-white text-decoration-none" href="/">home</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" href="/about">about</a></li>
                <li class="list-inline-item"><a class="text-white text-decoration-none" href="/contact">contact</a></li>
            </ul>
        </nav>
    </div>
    </div>
</header>